<p>
Your HCB cards are at risk of getting locked if your receipts stay missing past 72 hours after settling.
</p>

<p>
Every receipt must be uploaded within 72 hours of the charge settling. You can also manage your receipts on the HCB <%= link_to "receipts page", my_inbox_url %>.
</p>

<% if @hcb_codes.any? %>
  <h3>Receipts already violating the 72-hour rule (<%= @hcb_codes.count %>)</h3>
  <%= render "transactions_table", hcb_codes: @hcb_codes, show_org: @show_org %>
<% end %>

<% if @hcb_codes_upcoming.any? %>
  <h3>Missing receipts still within 72 hours</h3>
  <%= render "transactions_table", hcb_codes: @hcb_codes_upcoming, show_org: @show_org %>
<% end %>
