<span id="total">
  <% if report.amount_cents > 0 %>
    <%= report.amount.format %>
    <% if report.currency != "USD" %>
      (<%= convert_to_usd(report.amount_cents, report.currency).format %> USD)
    <% end %>
  <% else %>
    reimbursement
  <% end %>
</span>
