<span id="total">
  <% if report.amount_cents > 0 %>
    <% if report.currency != "USD" %>
      <span class="tooltipped tooltipped--n" aria-label="USD conversion: <%= convert_to_usd(report.amount_cents, report.currency).format %>">
        <%= report.amount.format %>
        <%= report.currency %>
      </span>
    <% else %>
      <%= report.amount.format %>
    <% end %>
  <% else %>
    reimbursement
  <% end %>
</span>
