<p>
  Hi <%= @user.first_name %>.
</p>

<p>
  We're writing to let you know that you just generated new MFA backup codes for your account.
</p>

<p>
  Don't recognize this activity? Please immediately check
  <%= link_to "your HCB account's security settings", "https://hcb.hackclub.com/my/settings/security" %>
  and contact us at
  <%= link_to "hcb@hackclub.com", "mailto:hcb@hackclub.com" %>.
</p>

<p>
  Thanks,<br>
  The HCB Team
</p>
