<h1>A scheduled announcement will go out in one week</h1>

<i><%= link_to "Review the announcement in your browser", @announcement %></i>

<br/>

<%= render "announcement_mailer/announcement" %>

<br/>
<i><%= link_to "Review the announcement in your browser", @announcement %></i>

<p>
  From,<br>
  The HCB Team
</p>
