<%# locals: (form:, default_selected: "") %>

<div class="field field--select w-100">
  <h3 class="mb2 mt1">Contracts</h3>
  <div>
    <%= form.email_field :cosigner_email, placeholder: "Cosignee email (required if under 18)", class: "w-100 mt1" %>
  </div>
  <div class="field field--checkbox mt-2">
    <%= form.check_box :include_videos %>
    <%= form.label :include_videos, "Would you like us to include the onboarding videos?" %>
  </div>
</div>
