<% title "Thanks for signing the HCB contract" %>

<h2>Thank you for signing the HCB contract!</h2>

<% if @role == :cosigner %>
  <p>
    You've signed your part! Your child will hear back from us soon once we process the contract.
  </p>
<% elsif @role == :signee %>
  <% if @invite.contract.cosigner_signed? %>
    <p>The HCB team will finalize the contract and activate your project within one business day.</p>
  <% else %>
    <p>
      Your cosigner (<%= @invite.contract.cosigner_email %>) still needs to sign - we just sent them a reminder email.
      Once they sign, you'll be able to accept your invite to <%= @invite.event.name %>!
    </p>
  <% end %>
<% end %>
