<% title "New Teenagers Leaderboard" %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th># of new teenagers</th>
    </tr>
  </thead>
  <tbody>
    <%# ideally this pulls from a list of all users that have made a link %>
    <% Referral::Link.select(:creator).map(&:creator).uniq.find_each do |user| %>
      <tr>
        <td><%= user_mention user %></td>
        <%# ideally we do this in all sql instead of rails %>
        <td><%= user.referral_links.sum { |link| link.new_users.where(teenager: true) } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
