<% title "New Teenagers Leaderboard" %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th># of new teenagers</th>
    </tr>
  </thead>
  <tbody>
    <% User.admin.each do |user| %>
      <tr>
        <td><%= user_mention user %></td>
        <td><%= Referral::Link.where(creator: user).sum { |link| link.new_users.where(teenager: true) } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
