<% title "Contractors for #{@event.name}" %>
<% page_md %>
<%= render "events/nav", selected: :contractors %>

<h1>Contractors</h1>

<%= link_to "Invite a contractor", new_event_contractor_path(event_id: @event.slug), class: "btn bg-success" %>
