<% title "Request an onboarding call" %>
<% page_md %>
<%= render "events/nav" %>

<h1 class="flex mb-0 border-0">
  Request an onboarding call
</h1>

<p>If you have questions or would like to go over the HCB plaform with a member of our team, feel free to request a call!</p>

<%= button_to "Request", send_meeting_request_event_path(@event), class: "btn bg-info" %>
