<%# locals: (event:) %>

<% disabled = !policy(event).update? %>

<%= turbo_frame_tag :affiliations_settings do %>
  <h3 class="mb1" id="affiliations_heading">Add a new affiliation</h3>
  <div class="card mb3">
  </div>
<% end %>
