<%# locals: (form:, field_name:, label:, disabled:, default_event:, sending: false, source_event: nil) %>

<% display_value = default_event&.public_id %>
<% search_path = if sending
                   event_search_disbursements_path(sending: true)
                 elsif source_event
                   event_search_disbursements_path(source_event_id: source_event.id)
                 else
                   event_search_disbursements_path
                 end %>

<div class="field flex-1">
  <%= form.label field_name, label %>
  <%= combobox_tag "disbursement[#{field_name}]", search_path, placeholder: "Select one...", disabled: disabled, value: display_value, class: "!max-w-full" %>
</div>
