<%# locals: (form:, field_name:, label:, disabled:, default_event:, sending: false) %>

<div class="field flex-1">
  <%= form.label field_name, label %>
  <% display_value = admin_signed_in? ? default_event&.to_combobox_display : default_event&.name %>
  <% search_path = sending ? event_search_disbursements_path(sending: true) : event_search_disbursements_path %>
  <%= combobox_tag "disbursement[#{field_name}]", search_path, placeholder: "Select one...", disabled: disabled, value: display_value, class: "!max-w-full" %>
</div>
