<%# locals: (form:, field_name:, label:, disabled:, default_event:) %>

<div class="field flex-1">
  <%= form.label field_name, label %>
  <%= combobox_tag "disbursement[#{field_name}]", event_search_disbursements_path, placeholder: "Select one...", disabled: disabled, value: default_event&.to_combobox_display, class: "!max-w-full" %>
</div>
