<%# locals: (form:, field_name:, label:, disabled:, source_event: nil, sending: false) %>

<div class="field flex-1">
  <%= form.label field_name, label %>
  <% async_params = { sending: sending } %>
  <% async_params[:source_event_id] = source_event&.id if field_name == "event_id" && source_event.present? %>
  <%= form.combobox field_name, event_search_disbursements_path(async_params), placeholder: "Select one...", disabled: disabled, class: "!max-w-full" %>
</div>
