<%# locals: (card_grant:) %>

<div class="card card--homepage mb-2 px-5">
  <p class="eyebrow my-0 opacity-50">Balance remaining</p>
  <span class="stat__value"><%= card_grant.balance.format(symbol: false) %></span>
</div>
