<%# locals: (card_grant:) %>

<div class="statset mb-2 flex flex-col">
  <div class="stat">
    <span class="stat__label">Balance remaining</span>
    <span class="stat__value"><%= card_grant.balance.format(symbol: false) %></span>
  </div>
  <i class="muted">
    <% if card_grant.reimbursement_report.present? %>
      Refunds received after cancelation will be sent to <%= card_grant.event.name %>. The funds will not automatically be contributed to your reimbursement report cap.
    <% else %>
      Any refunds after cancelation will be transferred to the organization.
    <% end %>
  </i>
</div>
