<%= render "application/callout", type: "warning", title: "Card Grant Policies" do %>
  <p class="mt1 mb1">Card grants may not be used for:</p>
  <ul class="mt0 mb1 pl3">
    <li>Payroll or compensation</li>
    <li>Reimbursements</li>
    <li>Top-ups funded by the card grant recipient</li>
  </ul>
  <p class="mt0 mb0">
    <%= link_to "View full Card Grant policy →", "https://hackclub.com/hcb/card-grants/policy", target: "_blank", class: "bold" %>
  </p>
<% end %>
