<%# locals: (tier: nil) %>

<% if tier.nil? %>
 <p>This donation tier cannot be displayed</p>
<% else %>
  <p>
    <span class="font-bold"><%= tier.name %></span> for <span class="font-bold"><%= render_money tier.amount_cents %></span><br>
    <span class="italic"><%= tier.description %></span>
  </p>
<% end %>
