.arrow {
  width: 16px;
  height: 16px;
  transform: rotate(45deg);

  background-color: $white;

  [data-dark='true'] & {
    background-color: $darkless;
  }
}

@keyframes fadeUp {
  from {
    transform: translateY(10px) scale(0.9);
    opacity: 0;
  }

  to {
    transform: none;
    opacity: 100;
  }
}
