$font-family:
  system-ui,
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  'Fira Sans',
  Oxygen,
  Ubuntu,
  'Helvetica Neue',
  sans-serif;
$mono:
  ui-monospace, 'SFMono-Regular', 'Roboto Mono', Menlo, Consolas, monospace;

pre {
  overflow-x: auto;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: clamp(1rem, calc(8px + 0.5vw), 1.2rem);
}

:root {
  --hcb-font-sans:
    ui-rounded, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Fira Sans', Oxygen, Ubuntu, 'Helvetica Neue', sans-serif;
  --hcb-font-mono: 'SF Mono', 'Roboto Mono', Menlo, Consolas, monospace;
}

html {
  --hcb-tx-1: #17171d;
  --hcb-tx-2: #1a1a1a;
  --hcb-bg-1: #ffffff;
  --hcb-bg-2: #e0e6ed;
  --hcb-bg-2-5: #f9fafc;
  --hcb-bg-3: #e0e6ed;
  --hcb-link-1: #8492a6;
  --hcb-link-2: #3c4858;
  --hcb-link-tx: #ffffff;
  --hcb-accent: #338eda;
  --hcb-primary: #ec3750;
  --hcb-accent-red: #ffcccc;
  --hcb-accent-orange: #ff8c38;
  --hcb-accent-pending: #ffffcc;
  --hcb-accent-transit: #ccffff;
  --hcb-accent-active: #00ff00;
  --hcb-accent-tx: #1a1a1a;
}

html[data-dark='true'] {
  --hcb-tx-1: #e0e6ed;
  --hcb-tx-2: #e0e6ed;
  --hcb-bg-1: #17171d;
  --hcb-bg-2: #121217;
  --hcb-bg-2-5: #121217;
  --hcb-bg-3: #252429;
  --hcb-link-1: #8492a6;
  --hcb-link-2: #3c4858;
  --hcb-link-tx: #ffffff;
  --hcb-accent: #338eda;
  --hcb-accent-red: #916262;
  --hcb-accent-orange: #bf6a2e;
  --hcb-accent-pending: #544d29;
  --hcb-accent-transit: #005c5c;
  --hcb-accent-active: #008a00;
  --hcb-accent-tx: #070707;
}

:root {
  --kbar-background: #ffffff;
  --kbar-foreground: #252429;
  --kbar-overlay: rgba(0 0 0 / 0.05);
  --kbar-admin-overlay: rgba(241, 196, 15, 0.125);
}

html[data-dark='true'] {
  --kbar-background: #252429;
  --kbar-foreground: #e0e6ed;
  --kbar-overlay: rgba(255 255 255 / 0.05);
  --kbar-admin-overlay: rgba(255, 140, 55, 0.0625);
}

* {
  margin: 0;
  padding: 0;
}

::selection {
  background: var(--hcb-accent);
  color: var(--hcb-accent-tx);
}

code,
pre,
kbd,
samp {
  font-family: var(--hcb-font-mono);
}

details:not(:has(> summary.visual-table-row)) {
  padding: 0.6rem 1rem;
  background: var(--hcb-bg-2);
  border: 1px solid var(--hcb-bg-3);
  border-radius: 4px;
}

.pagination > li {
  margin-top: 0 !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

#flash-container {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 50ch;
  display: flex;
  justify-content: center;
  overflow: hidden;

  article.flash {
    --flash-offset: 1rem;
    border: 1px solid var(--hcb-bg-3);
    border-top: 3px solid var(--hcb-accent);
    border-radius: 4px;
    background: var(--hcb-bg-1);
    padding: 1rem;
    margin: 0 var(--flash-offset) var(--flash-offset) 0;
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0 1px 2px hsl(240 3.8% 46.1% / 12%);
    animation-duration: 0.5s;
    animation-name: flash-slide-in;
    z-index: 999999;

    &.flash--success {
      border-top-color: var(--hcb-accent-active);
    }

    &.flash--error {
      border-top-color: var(--hcb-primary);
    }

    &.flash--dismissed {
      translate: 0 calc(100% + var(--flash-offset));
      display: none;
      transition-property: translate display;
      transition-duration: 0.5s;
      transition-behavior: allow-discrete;
    }

    .flash--content {
      flex: 1;
    }
  }

  .flash--close-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 0;
    box-shadow: none;
    min-height: 0;
    height: auto;
    padding: 0;
    margin: 0;
    color: inherit;
  }
}

@keyframes flash-slide-in {
  from {
    translate: 0 calc(100% + var(--flash-offset, 0));
  }

  to {
    translate: 0 0;
  }
}

.admin-bg-red {
  background-color: var(--hcb-accent-red) !important;
}

.admin-bg-orange {
  background-color: var(--hcb-accent-orange) !important;
}

.admin-bg-pending {
  background-color: var(--hcb-accent-pending) !important;
}

.admin-bg-transit {
  background-color: var(--hcb-accent-transit) !important;
}

.admin-bg-warning {
  background: #ec3750;
}

.table-container {
  max-width: unset !important;
  margin-top: 15px;
}

.table-footer {
  background-color: rgba(200, 200, 200, 0.2);
  padding: 0 20px;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  position: sticky;
  left: 10px;
  min-height: 50px;
}

.skip-to-main {
  left: -999px;
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -999;
}

.skip-to-main:focus,
.skip-to-main:active {
  color: var(--hcb-tx-1);
  background-color: var(--hcb-bg-1);
  left: auto;
  top: auto;
  width: 30%;
  height: auto;
  margin: 10px 35%;
  padding: 5px;
  border-radius: 15px;
  text-align: center;
  z-index: 999;
}
