$font-family:
  system-ui,
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  'Fira Sans',
  Oxygen,
  Ubuntu,
  'Helvetica Neue',
  sans-serif;
$mono:
  ui-monospace, 'SFMono-Regular', 'Roboto Mono', Menlo, Consolas, monospace;

@import 'variables';
@import 'basscss';
@import 'space';
@import 'utilities';
@import 'components/badges';
@import 'components/forms';
@import 'dark';
@import 'components/menus';
@import 'components/receipts';
@import 'components/modals';
@import 'components/tooltips';
@import 'kbar';
@import 'components/buttons';
@import 'components/steps';

.card {
  --card-bg: #ffffff;
  background-color: $white;
  box-shadow: var(--shadow-border-sm);
  padding: 1rem;
  border-radius: var(--radius-lg);
  overflow: hidden;
}

// // https://raw.githubusercontent.com/waldyrious/downstyler/master/downstyler.css
// /* ---------------------------------------------------------------------------------------------- */
// /* Make HTML more responsive (adapted from https://fluidity.sexy ← note: dead link)               */
// /* ---------------------------------------------------------------------------------------------- */
img,
canvas,
iframe,
video,
svg,
select,
textarea {
  max-width: 100%;
  height: auto;
}
pre {
  overflow-x: auto;
}

// /* ---------------------------------------------------------------------------------------------- */
// /* Box-model fix (adapted from https://css-tricks.com/box-sizing/)                                */
// /* ---------------------------------------------------------------------------------------------- */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

button {
  border: none;
}

html {
  font-size: clamp(1rem, calc(8px + 0.5vw), 1.2rem);
}
:root {
  --hcb-font-sans:
    ui-rounded, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Fira Sans', Oxygen, Ubuntu, 'Helvetica Neue', sans-serif;
  --hcb-font-mono: 'SF Mono', 'Roboto Mono', Menlo, Consolas, monospace;
}

html {
  --hcb-tx-1: #17171d;
  --hcb-tx-2: #1a1a1a;
  --hcb-bg-1: #ffffff;
  --hcb-bg-2: #e0e6ed;
  --hcb-bg-2-5: #f9fafc;
  --hcb-bg-3: #e0e6ed;
  --hcb-link-1: #8492a6;
  --hcb-link-2: #3c4858;
  --hcb-link-tx: #ffffff;
  --hcb-accent: #338eda; // button color
  --hcb-primary: #ec3750;
  --hcb-accent-red: #ffcccc;
  --hcb-accent-orange: #ff8c38;
  --hcb-accent-pending: #ffffcc;
  --hcb-accent-transit: #ccffff;
  --hcb-accent-active: #00ff00;
  --hcb-accent-tx: #1a1a1a;
}

html[data-dark='true'] {
  --hcb-tx-1: #e0e6ed;
  --hcb-tx-2: #e0e6ed;
  --hcb-bg-1: #17171d;
  --hcb-bg-2: #121217;
  --hcb-bg-2-5: #121217;
  --hcb-bg-3: #252429;
  --hcb-link-1: #8492a6;
  --hcb-link-2: #3c4858;
  --hcb-link-tx: #ffffff;
  --hcb-accent: #338eda; // button color
  --hcb-accent-red: #916262;
  --hcb-accent-orange: #bf6a2e;
  --hcb-accent-pending: #544d29;
  --hcb-accent-transit: #005c5c;
  --hcb-accent-active: #008a00;
  --hcb-accent-tx: #070707;
}

:root {
  --kbar-background: #ffffff;
  --kbar-foreground: #252429;
  --kbar-overlay: rgba(0 0 0 / 0.05);
  --kbar-admin-overlay: rgba(241, 196, 15, 0.125);
}

html[data-dark='true'] {
  --kbar-background: #252429;
  --kbar-foreground: #e0e6ed;
  --kbar-overlay: rgba(255 255 255 / 0.05);
  --kbar-admin-overlay: rgba(255, 140, 55, 0.0625);
}

* {
  margin: 0;
  padding: 0;
}

html {
  /* Set body font family */
  font-family: var(--hcb-font-sans);
}

body {
  /* Center body in page */
  margin: 0 auto;
  border-radius: 6px;
  word-break: break-word;
  overflow-wrap: break-word;
  background: var(--hcb-bg-1);

  /* Main body text */
  color: var(--hcb-tx-2);
  line-height: 1.5;
}

::selection {
  /* Set background color for selected text */
  background: var(--hcb-accent);
  color: var(--hcb-accent-tx);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  color: var(--hcb-tx-1);
  padding-top: 0.875rem;
}

h1,
h2,
h3 {
  color: var(--hcb-tx-1);
  padding-bottom: 2px;
  margin-bottom: 8px;
  border-bottom: 1px solid var(--hcb-bg-2);
}

h4,
h5,
h6 {
  margin-bottom: 0.3rem;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.85rem;
}

h3 {
  font-size: 1.55rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

a {
  color: var(--hcb-link-1);
}

a:hover {
  color: var(--hcb-link-2);
}

abbr:hover {
  /* Set the '?' cursor while hovering an abbreviation */
  cursor: help;
}

blockquote {
  padding: 1.5rem;
  background: var(--hcb-bg-2);
  border-left: 5px solid var(--hcb-bg-3);
}

abbr {
  cursor: help;
}

blockquote *:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
}

header {
  background: var(--hcb-bg-2);
  border-bottom: 1px solid var(--hcb-bg-3);
  padding: 2rem 1.5rem;
  /* This sets the right and left margins to cancel out the body's margins. It's width is still the same, but the background stretches across the page's width. */
  margin: -2rem calc(50% - 50vw) 2rem;
  padding-left: calc(50vw - 50%);
  padding-right: calc(50vw - 50%);
}

header h1,
header h2,
header h3 {
  padding-bottom: 0;
  border-bottom: 0;
}

header > *:first-child {
  margin-top: 0;
  padding-top: 0;
}

header > *:last-child {
  margin-bottom: 0;
}

code,
pre,
kbd,
samp {
  /* Set the font family for monospaced elements */
  font-family: var(--hcb-font-mono);
}

code,
samp,
kbd,
pre {
  /* The main preformatted style. This is changed slightly across different cases. */
  background: var(--hcb-bg-2);
  border: 1px solid var(--hcb-bg-3);
  border-radius: 4px;
  padding: 3px 6px;
  /* font-size is relative to containing element, so it scales for titles*/
  font-size: 0.8em;
}

kbd {
  /* Makes the kbd element look like a keyboard key */
  border-bottom: 3px solid var(--hcb-bg-3);
}

pre {
  padding: 1rem 1.4rem;
  max-width: 100%;
  overflow: auto;
}

pre code {
  /* When <code> is in a <pre>, reset it's formatting to blend in */
  background: inherit;
  font-size: inherit;
  color: inherit;
  border: 0;
  padding: 0;
  margin: 0;
}

code pre {
  /* When <pre> is in a <code>, reset it's formatting to blend in */
  display: inline;
  background: inherit;
  font-size: inherit;
  color: inherit;
  border: 0;
  padding: 0;
  margin: 0;
}

details {
  /* Make the <details> look more "clickable" */
  padding: 0.6rem 1rem;
  background: var(--hcb-bg-2);
  border: 1px solid var(--hcb-bg-3);
  border-radius: 4px;
}

summary {
  /* Makes the <summary> look more like a "clickable" link with the pointer cursor */
  cursor: pointer;
  font-weight: bold;
}

details[open] {
  /* Adjust the <details> padding while open */
  padding-bottom: 0.75rem;
}

details[open] summary {
  /* Adjust the <details> padding while open */
  margin-bottom: 6px;
}

details[open] > *:last-child {
  /* Resets the bottom margin of the last element in the <details> while <details> is opened. This prevents double margins/paddings. */
  margin-bottom: 0;
}

dt {
  font-weight: bold;
}

dd::before {
  /* Add an arrow to data table definitions */
  content: '→ ';
}

hr {
  /* Reset the border of the <hr> separator, then set a better line */
  border: 0;
  border-bottom: 1px solid var(--hcb-bg-3);
  margin: 1rem auto;
}

legend {
  padding: auto 0.5rem;
}

table {
  /* border-collapse sets the table's elements to share borders, rather than floating as separate "boxes". */
  border-collapse: collapse;
  width: 100%;
  min-width: 76rem;
}

td,
th {
  border: 1px solid var(--hcb-bg-3);
  text-align: left;
  padding: 0.5rem;
}

thead th {
  background: var(--hcb-bg-2);
}

tr:nth-child(even) {
  /* Set every other cell slightly darker. Improves readability. */
  background: var(--hcb-bg-2);
}

table.no-stripes {
  tr:nth-child(even) {
    background: inherit;
  }
}

table caption {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

textarea {
  /* Don't let the <textarea> extend off the screen naturally or when dragged by the user */
  max-width: 100%;
}

ol,
ul {
  /* Replace the browser default padding */
  padding-left: 2rem;
}

li {
  margin-top: 0.4rem;
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}

mark {
  padding: 3px 6px;
  background: var(--hcb-accent);
  color: var(--hcb-accent-tx);
}

img,
video {
  max-width: 100%;
}

/* Skip to main navigation item */
.skip-to-main {
  left: -999px;
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -999;
}

.skip-to-main:focus,
.skip-to-main:active {
  color: var(--hcb-tx-1);
  background-color: var(--hcb-bg-1);
  left: auto;
  top: auto;
  width: 30%;
  height: auto;
  margin: 10px 35%;
  padding: 5px;
  border-radius: 15px;
  text-align: center;
  z-index: 999;
}

/* Pagination styles */
// https://stackoverflow.com/questions/13320851/custom-css-with-kaminari-with-bootstrap
.pagination a,
.pagination span.current,
.pagination span.gap {
  float: left;
  padding: 8px;
  line-height: 19px;
  text-decoration: none;
  border-left-width: 0;
}

.pagination {
  list-style: none;
  padding: 0;
  height: 30px;
  .first {
    padding: 0;
    float: none;
    border: none;
  }
  .prev {
    padding: 0;
    float: none;
    border: none;
  }
  .page {
    padding: 0;
    float: none;
    border: none;
  }
  .next {
    padding: 0;
    float: none;
    border: none;
  }
  .last {
    padding: 0;
    float: none;
    border: none;
  }
}

/* Inline styles converted here */
.admin-bg-red {
  background-color: var(--hcb-accent-red) !important;
}

.admin-bg-orange {
  background-color: var(--hcb-accent-orange) !important;
}

.admin-bg-pending {
  /* Needs !important to override the default table-row alternating pattern */
  background-color: var(--hcb-accent-pending) !important;
}

.admin-bg-transit {
  background-color: var(--hcb-accent-transit) !important;
}

.admin-bg-active {
  background: var(--hcb-accent-active) !important;
}

.admin-bg-warning {
  background: #ec3750;
}

/* Table column width utility classes adapted from Tailwind CSS https://tailwindcss.com/docs/width  */

.w-96 {
  width: 24rem;
}
.w-80 {
  width: 20rem;
}
.w-64 {
  width: 16rem;
}
.w-48 {
  width: 12rem;
}
.w-40 {
  width: 10rem;
}
.w-32 {
  width: 8rem;
}
.w-24 {
  width: 6rem;
}
.w-16 {
  width: 4rem;
}
.w-12 {
  width: 3rem;
}
.w-8 {
  width: 2rem;
}

/* Autosize table on process pages */

.table--autosize {
  width: auto;
  min-width: 0;
}

.pagination {
  margin-bottom: 0rem !important;
  gap: 4px;
}

.pagination > li {
  margin-top: 0rem !important;
}

.flex-grow {
  flex-grow: 1;
}

/* The navigation bar used for admin pages */

.nav-row-scroll-container .nav-item:not(:last-child) {
  border-right: 1px solid var(--hcb-bg-3) !important;
}

.nav-row .nav-row-scroll-container {
  flex-direction: row;
}

.admin-nav-item:active {
  pointer-events: none;
}

.admin-menu-content {
  min-width: calc(100vw / 6);
  width: calc(100vw / 6);

  @media (max-width: 768px) {
    min-width: unset;
    width: unset;
  }
  & .menu__divider {
    background-color: rgba(190, 190, 190, 0.3);
  }
  & a:hover {
    background-color: rgba(200, 200, 200, 0.3);
  }
  & a:active {
    background-color: rgba(200, 200, 200, 0.4) !important;
  }
}

nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

summary:hover + detail,
detail:hover,
details:hover > .dropdown {
  display: block;
}

detail,
.dropdown {
  display: none;
}

.role-badge {
  margin-bottom: 0px !important;
}

.sub-items {
  display: flex;
  flex-direction: column;
  background: #fff;
  border: 1px solid var(--hcb-bg-3);
  box-shadow: var(--shadow-lg);
  border-top: none;
  border-radius: 0px 0px 4px 4px;
  z-index: 999;
  overflow: hidden;
  position: relative;
  margin-top: -5px;
  padding-top: 9px;
  margin-left: -2px;
}

.sub-items > a:last-child {
  border-radius: 0px 0px 4px 4px;
}

.sub-items > a {
  text-transform: capitalize;
  pointer-events: auto;
  color: var(--hcb-tx-1);
  text-decoration: none;
  background: #fff;
  min-width: 220px;
  padding: 8px 12px;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  &:not(:first-child) {
    border-top: 1px solid var(--hcb-bg-3);
  }
}

.badge {
  margin-left: 0.4rem;
}

.nav-item > .badge {
  margin-left: 0.2rem;
}

.sub-items > a:hover {
  color: var(--hcb-tx-1);
  background: var(--hcb-bg-2);
}

.nav-item {
  padding: 4px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.role-badge {
  padding-right: 12px;
  margin-bottom: 16px;
}

.role-badge > b {
  text-transform: uppercase;
}

.badge-admin {
  background: rgba(236, 55, 80, 0.4);
}

.h-38 {
  height: 38px;
}

.admin-nav-item {
  position: relative;
}

.admin-nav-item {
  /* Make the <details> look more "clickable" */
  padding: 0 !important;
  background: none !important;
  border: none !important;
  border-radius: none !important;
}

summary {
  /* Makes the <summary> look more like a "clickable" link with the pointer cursor */
  cursor: pointer;
  font-weight: bold;
}

.events-filter-select {
  display: flex;
  flex-wrap: wrap;
}

.events-filter-select > label {
  display: flex;
  align-items: center;
  gap: 8px;
  min-width: 300px;
  margin-right: 16px;
}

.logo-dark {
  display: none;
}

#admin-theme-toggle,
#admin-logout-button {
  color: var(--hcb-link-1);
  background: none;
  padding: 0px;
}
#admin-theme-toggle:hover,
#admin-logout-button:hover {
  color: var(--hcb-link-2);
}
form:has(> #admin-logout-button) {
  margin: 0px;
}

@keyframes flash-slide-in {
  from {
    translate: 0 calc(100% + var(--flash-offset, 0));
  }

  to {
    translate: 0 0;
  }
}

#flash-container {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 50ch;
  display: flex;
  justify-content: center;
  overflow: hidden;

  article.flash {
    --flash-offset: 1rem;
    border: 1px solid var(--hcb-bg-3);
    border-top: 3px solid var(--hcb-accent);
    border-radius: 4px;
    background: var(--hcb-bg-1);
    padding: 1rem;
    margin: 0 var(--flash-offset) var(--flash-offset) 0;
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0 1px 2px hsl(240 3.8% 46.1% / 12%);
    animation-duration: 0.5s;
    animation-name: flash-slide-in;
    z-index: 999999;

    &.flash--success {
      border-top-color: var(--hcb-accent-active);
    }

    &.flash--error {
      border-top-color: var(--hcb-primary);
    }

    &.flash--dismissed {
      translate: 0 calc(100% + var(--flash-offset));
      display: none;
      transition-property: translate display;
      transition-duration: 0.5s;
      transition-behavior: allow-discrete;
    }

    .flash--content {
      flex: 1;
    }
  }

  .flash--close-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    padding: 0;
    margin: 0;
    color: inherit;
  }
}
.command-bar-item {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: var(--radius-md);
  color: inherit;
  transition: background-color 0.125s ease-in-out;
  cursor: pointer;
  &:hover {
    transition-duration: 0s;
  }
  &:active {
    transition-duration: 0.125s;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --hw-active-bg-color: #f3f4f6;
  --hw-border-color: #d1d5db;
  --hw-component-bg-color: #ffffff;
  --hw-group-color: #57595c;
  --hw-group-bg-color: #ffffff;
  --hw-invalid-color: #ef4444;
  --hw-dialog-label-color: #1d1d1d;
  --hw-focus-color: #2563eb;
  --hw-option-bg-color: #ffffff;

  --hw-border-radius: 0.375rem;
  --hw-border-width--slim: 1px;
  --hw-border-width--thick: 2px;

  --hw-combobox-width: 10rem;
  --hw-combobox-width--multiple: 30rem;

  --hw-dialog-font-size: 1.25rem;
  --hw-dialog-input-height: 2.5rem;
  --hw-dialog-label-alignment: center;
  --hw-dialog-label-padding: 0.5rem 0 0.375rem;
  --hw-dialog-label-size: 1.05rem;
  --hw-dialog-listbox-margin: 1.25rem 0 0;
  --hw-dialog-padding: 1rem 1rem 0;
  --hw-dialog-top-offset: 18vh;

  --hw-font-size: 1rem;

  --hw-handle-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m6 8 4 4 4-4'/%3E%3C/svg%3E");
  --hw-handle-image--queried: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'%3E%3Cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M6 18 18 6M6 6l12 12'/%3E%3C/svg%3E");
  --hw-handle-offset-right: 0.375rem;
  --hw-handle-width: 1.5rem;
  --hw-handle-width--queried: 1rem;

  --hw-line-height: 1.5rem;
  --hw-line-height--multiple: 2.125rem;

  --hw-listbox-height: calc(var(--hw-line-height) * 10);
  --hw-listbox-z-index: 10;

  --hw-padding--slimmer: 0.25rem;
  --hw-padding--slim: 0.375rem;
  --hw-padding--thick: 0.75rem;

  --hw-selection-chip-font-size: 0.875rem;

  --hw-visual-viewport-height: 100vh;
}

.hw-combobox {
  border-width: 0;
  display: inline-flex;
  flex-direction: column;
  font-size: var(--hw-font-size);
  gap: var(--hw-padding--slim);
  margin: 0;
  padding: 0;
  position: relative;

  &,
  * {
    box-sizing: border-box;
  }
}

.hw-combobox__main__wrapper {
  @extend .input;
  padding: 0;

  & input {
    box-shadow: none !important;
    border: 0;
  }
}

.hw-combobox__handle {
  height: 100%;
  position: absolute;
  right: var(--hw-handle-offset-right);
  top: 0;
  width: var(--hw-handle-width);
}

.hw-combobox__handle::before {
  background-image: var(--hw-handle-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: var(--hw-handle-width);
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.hw-combobox__input[data-queried] + .hw-combobox__handle::before {
  background-image: var(--hw-handle-image--queried);
  background-size: var(--hw-handle-width--queried);
}

.hw-combobox__listbox {
  @apply shadow-md absolute p-0 m-0 left-0 rounded-lg overflow-hidden;
  visibility: hidden;
  border-color: transparent;
  border-style: solid;
  border-width: var(--hw-border-width--slim);
  line-height: var(--hw-line-height);
  list-style: none;
  top: calc(100% + 0.2rem);
  width: 100%;
  z-index: var(--hw-listbox-z-index);

  & li {
    margin: 0 !important;
  }

  &:has([role='option']:not([hidden])) {
    border-color: var(--hw-border-color);
    visibility: visible !important;
  }
}

.hw-combobox__group {
  display: none;
  padding: 0;
}

.hw-combobox__group__label {
  background-color: var(--hw-group-bg-color);
  color: var(--hw-group-color);
  padding: var(--hw-padding--slim);
}

.hw-combobox__group:has(.hw-combobox__option:not([hidden])) {
  display: block;
}

.hw-combobox__option {
  background-color: var(--hw-option-bg-color);
  padding: var(--hw-padding--slim) var(--hw-padding--thick);
  user-select: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 0;
  cursor: pointer;
}

.hw-combobox__option--blank {
  border-bottom: var(--hw-border-width--slim) solid var(--hw-border-color);
}

.hw-combobox__option:hover,
.hw-combobox__option--navigated,
.hw-combobox__option--selected {
  background-color: var(--hw-active-bg-color);
}

.hw-combobox__dialog__wrapper {
  display: none;
  height: 100vh;
  inset-inline-start: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;

  &:has([open]) {
    display: flex;
  }
}

.hw-combobox__dialog {
  border: 0;
  font-size: var(--hw-dialog-font-size);
  height: auto;
  margin: 0;
  max-height: calc(
    var(--hw-visual-viewport-height) - var(--hw-dialog-top-offset)
  );
  max-width: none;
  overflow: hidden;
  padding: var(--hw-dialog-padding);
  pointer-events: auto;
  position: fixed;
  top: var(--hw-dialog-top-offset);
  width: auto;

  &[open] {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  &::backdrop {
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6) 50%,
      white 50%
    );
  }

  .hw-combobox--ios & {
    position: absolute;
  }
}

.hw-combobox__dialog__label {
  align-self: var(--hw-dialog-label-alignment);
  color: var(--hw-dialog-label-color);
  font-size: var(--hw-dialog-label-size);
  padding: var(--hw-dialog-label-padding);
}

.hw-combobox__dialog__input {
  border: var(--hw-border-width--slim) solid var(--hw-border-color);
  border-radius: var(--hw-border-radius);
  font-size: inherit;
  height: var(--hw-dialog-input-height);
  line-height: var(--hw-dialog-input-height);
  padding: var(--hw-padding--slim) var(--hw-padding--thick);
  text-overflow: ellipsis;
  width: 90%;
}

.hw-combobox__dialog__listbox {
  margin: var(--hw-dialog-listbox-margin);
  overflow: auto;
  padding: 0;
  width: 100%;

  [role='option'] {
    border-radius: var(--hw-border-radius);
    padding: var(--hw-padding--thick);
  }
}

.hw-combobox__chip {
  align-items: center;
  border: var(--hw-border-width--slim) solid var(--hw-border-color);
  border-radius: var(--hw-border-radius);
  display: flex;
  font-size: var(--hw-selection-chip-font-size);
  line-height: var(--hw-line-height);
  padding: var(--hw-padding--slimmer);
  padding-left: var(--hw-padding--slim);
}

.hw-combobox__chip__remover {
  background-image: var(--hw-handle-image--queried);
  background-size: var(--hw-handle-width--queried);
  background-repeat: no-repeat;
  margin-left: var(--hw-padding--slimmer);
  min-height: var(--hw-handle-width--queried);
  min-width: var(--hw-handle-width--queried);
}

.hw-combobox--multiple {
  .hw-combobox__main__wrapper {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: var(--hw-padding--slimmer);
    width: var(--hw-combobox-width--multiple);

    &:has([data-hw-combobox-chip]) .hw-combobox__input::placeholder {
      color: transparent;
    }
  }

  .hw-combobox__input {
    min-width: calc(var(--hw-combobox-width) / 2);
    flex-grow: 1;
    line-height: var(--hw-line-height--multiple);
    max-width: 100%;
    width: 1rem;
  }
}

.hw_combobox__pagination__wrapper {
  background-color: var(--hw-option-bg-color);

  &:only-child {
    background-color: transparent;
  }
}
