<p>
  Hey <%= @user.first_name %>,
</p>

<p>
  You've just disabled backup codes for HCB, and your unused backup codes, if any, were invalidated.
</p>

<p>
  If this was you, great! If you didn't do this, please <%= mail_to "hcb@hackclub.com", "contact us", subject: "My Backup Codes were disabled and it was not me" %> immediately.
</p>

<p>
  Thanks,<br>
  The HCB Team
</p>
