<p>
  Hey <%= @user.first_name %>,
</p>

<p>
  You've just disabled backup codes for HCB, and your unused backup codes, if any, were invalidated.
</p>

<p>
  If this was you, great! If you didn't do this, please <%= link_to "contact us", "mailto:hcb@hackclub.com?subject=My%20Backup%20Codes%20were%20disabled%20and%20it%20was%20not%20me" %> immediately.
</p>

<p>
  Thanks,<br>
  The HCB Team
</p>
