<p>
  Hey <%= @user.first_name %>,
</p>

<p>
  You just used one of your backup codes to login to HCB.
</p>

<p>
  If this was you, great! If you didn't do this, please <%= link_to "contact us", "mailto:hcb@hackclub.com?subject=Unauthorized%20Access%20With%20Backup%20Code" %> immediately.
</p>

<p>
  Thanks,<br>
  The HCB Team
</p>
