<p>
  Hey <%= @user.first_name %>,
</p>

<p>
  You've just used one of your backup codes to login to HCB.
</p>

<p>
  If this was you, great! If you didn't do this, please <%= mail_to "hcb@hackclub.com", "contact us", subject: "Unauthorized Access with Backup Code" %> immediately.
</p>

<p>
  Thanks,<br>
  The HCB Team
</p>
