<p>
  Hey <%= @user.first_name %>,
</p>

<p>
  You just used one of your backup codes to login to HCB. If this was you, great!
</p>

<p>
  If you didn't do this, please <%= link_to "contact us", "mailto:hcb@hackclub.com?subject=Unauthorized%20Access" %> immediately.
</p>

<p>
  Thanks,<br>
  The HCB Team
</p>
