<p>
  Hey <%= @user.first_name %>,
</p>

<p>
  You just generated new backup codes for HCB, and have 10 codes available to use if you lose access to other means of accessing your account. Please make sure to save the codes in a safe place. HCB staff will never ask for your backup codes.
</p>

<p>
  If this was you, great! If you didn't do this, please <%= link_to "contact us", "mailto:hcb@hackclub.com?subject=Unauthorized%20Backup%20Code%20Generation" %> immediately.
</p>

<p>
  Thanks,<br>
  The HCB Team
</p>
