<p>
  Hey <%= @user.first_name %>,
</p>

<p>
  You've just used a backup code to login, and only have <%= @user.unused_backup_codes.size %> left. We strongly urge you to regenerate more codes at your earliest convenience in your user settings to ensure you can always access your account.
</p>

<p>
  If you have any questions or concerns, please don't hesitate to <%= link_to "contact us", "mailto:hcb@hackclub.com?subject=Backup%20Code%20Question" %>.
</p>

<p>
  Thanks,<br>
  The HCB Team
</p>
