<section id="confirm_modal" class="modal bg-snow" data-behavior="modal" role="dialog" aria-modal="true" aria-labelledby="confirm_modal_title">
  <header class="pb2 rounded-t-lg">
    <%= modal_close %>
    <h2 id="confirm_modal_title" class="h1 mt0 mb0 pb0 border-none"></h2>
  </header>
  <p id="confirm_modal_message" class="mt2 mb4"></p>
  <button id="confirm_modal_ok" type="button" class="btn w-full bg-error">Confirm</button>
</section>
