<%# locals: (top: false) %>
<a data-dark-mode-toggle-target="toggle" data-value="system">
  System
  <%= inline_icon "check", class: "hidden ml-auto", size: 24, style: "margin-right: -5px" %>
</a>
<a data-dark-mode-toggle-target="toggle" data-value="dark">
  Dark
  <%= inline_icon "check", class: "hidden ml-auto", size: 24, style: "margin-right: -5px" %>
</a>
<a data-dark-mode-toggle-target="toggle" data-value="light">
  Light
  <%= inline_icon "check", class: "hidden ml-auto", size: 24, style: "margin-right: -5px" %>
</a>
