<%= turbo_frame_tag :inline_link do %>
  <div data-controller="receipt-select" id="receipt-select-container">
    <%= render "receipts/link_form", receipts: @receipts do %>
      <button type="button" class="btn bg-success" data-action="inline-receipt#addReceipt">Add</button>
    <% end %>
  </div>
<% end %>