<% title "Apply" %>

<p>Continue where you left off</p>

<% content_for :footer do %>
  <%= link_to "Back to dashboard", applications_path, class: "btn" %>
  <%= link_to "Continue application", application_project_info_path(@application), class: "btn" %>
<% end %>
